header {
    nav {
        padding-left: 20px;
        padding-right: 20px;
        .apptitle {
            font-size: 20px;
        }
        .menu-trigger {
            &:focus {
                background-color: transparent;
            }
        }
    }
}